
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Operators Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Operators!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(operators)}">

                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add New Operator</button>

                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>View</th>
                                <th>Update</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Operator 1</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Operator 2</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="operator : ${operators}">
                                <td th:text="${operator.id}">334</td>
                                <td th:text="${operator.getFirstName()}">Operator 1</td>
                                <td th:text="${operator.getLastName()}"></td>
                                <td><a href="#" th:href="@{'/operator/' + ${operator.id} + '/show'}">View</a></td>
                                <td><a href="#">Update</a></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Operator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
       <form th:action="@{operators/add}" method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="firstName">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="lastName">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">OIB:</label>
                        <input type="text" class="form-control" id="recipient-name" name="oib">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="recipient-name" name="email">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Role:</label>
                        <input type="text" class="form-control" id="recipient-name" name="role">
                    </div>

                   <div class="form-group">
                       <label for="recipient-name" class="col-form-label">Pasword:</label>
                       <input type="text" class="form-control" id="recipient-name" name="password">
                   </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<script src="js/operator.js"></script>

</body>
</html>